.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 0;
  gap: 1rem;
}

.CardsContainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.showMoreButton {
  margin-left: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .CardsContainer {
    flex-direction: column;
  }
}
